<p id="notice"><%= notice %></p>

<h1>Cities</h1>

<table class="table table-dark">
  <thead class="bg-secondary text-white">
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>Action</th>
      <th>Action</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name.titleize %></td>
        <td><%= city.state.name.titleize %></td>
        <td><%= link_to 'Show', city, class: 'btn btn-success text-white' %></td>
        <td><%= link_to 'Edit', edit_city_path(city),class: 'btn btn-info text-white' %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger text-white' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path,:class => "btn btn-warning text-white" %>
